
.better-for-section {
  display: flex;

  margin: 0 69px;

  &__left-group {
    display: flex;
    z-index: 999;

    >div:first-of-type {
      margin-top: -40px;
    }

    > div:last-of-type {
      margin: 50% 0 0 -25%;
    }
  }

  &__right-group {
    display: flex;
    flex-direction: column;

    background-color: $mintGreen;
    border-radius: 12px;
    width: 858px;

    padding: 60px 81px 70px 222px;
     margin-left: -350px;
     margin-bottom: 156px;

     z-index: -1;

    > div:last-of-type {
      margin-bottom: -94px;
    }
  }
}
