.btn {
  $button-radius: 6px;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  height: 50px;

  font-family: $fontFamily;
  font-weight: 900;
  font-size: 13px;

  text-transform: uppercase;
  letter-spacing: 1.2px;

  border-radius: $button-radius;
  border: none;
  opacity: 1;

  &__text {
    padding: 16px;

    font-size: 13px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    border-left: 1px solid $green;
    border-top-right-radius: $button-radius - 1;
    border-bottom-right-radius: $button-radius - 1;

    padding-left: 16px;
    padding-right: 16px;

    height: 100%;

    transition: background-color 0.3s ease-out;

    svg {
      transition: transform 0.3s ease-out;
    }
  }

  &.primary {
    background-color: $white;
    color: $green;
    padding: 16px 36px;
  }

  &.secondary {
    background-color: $green;
    color: $creamyWhite;
    padding: 16px 36px;

    transition: background-color 0.3s ease-out;

    &:hover {
      background-color: $darkGreen;
    }
  }

  &.has-icon {
    padding: 0;
  }

  &.outline {
    border: 1px solid $green;
  }

  &.move-icon {
    &:hover {
      .btn__icon svg {
        transform: translateX(2px);
      }
    }
  }

  &.fill-background:hover {
    &:hover {
      .btn__icon {
        background-color: $green;

        svg path {
          fill: $white !important;
        }
      }
    }
  }
}
