// adjusting styles from the carousel library
// -------- //
.carousel-root {
  background-color: $offWhite;
  margin-bottom: 126px;

  position: relative;
  z-index: 4;

  padding-top: 90px;

  height: 450px;

  box-sizing: border-box;
}

.carousel-status {
  display: none;
}

.carousel-slider {
  height: 100%;
}

.carousel .control-dots {
  bottom: 35px;
}

.carousel .slider-wrapper {
  margin-bottom: 30px;
}

.carousel .control-dots .dot {
  box-shadow: none;
  background: $white;
  border: 1px solid $green;
  border-radius: 50%;
}

.carousel .control-dots .dot.selected {
  box-shadow: none;
  background-color: $green;
}

.carousel .thumbs-wrapper {
  display: none;
}

//adding custom styles for the carousel section
// -------- //
.carousel-section {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      margin: 0;

      color: $darkGreen;
      text-transform: uppercase;

      font-size: 14px;
      letter-spacing: 2.1px;
      color: #002d33;
      text-transform: uppercase;

      &:first-of-type {
        font-weight: 300;
      }

      &:last-of-type {
        font-weight: 400;
      }
    }

    h3 {
      width: 727px;
      margin: 26px 0;

      font-weight: 600;
      font-size: 25px;
      font-family: Chronicle Display;
      line-height: 40px;
      letter-spacing: 0px;
      color: $darkGreen;
    }
  }
}

@media screen and (max-width: 1024px) {
  .carousel-root {
    padding-bottom: 60px;
    height: 100%;
  }

  .carousel .control-dots {
    bottom: -10px;
  }

  .carousel-section {
    &__item {
      h3 {
        width: 90%;
      }
    }
  }
}
