.footer {
  background-color: rgba($green, 0.72);

  padding: 0 69px;
  height: 436px;

  margin-top: -150px;

  &__all-rights-reserved {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top: 1px solid $green;
    padding: 44px 0 40px;

    &__text {
      font-size: 15px;
      color: $creamyWhite;
    }

    &__social-media-icons {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.footer-items {
  display: flex;
  flex-direction: column;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 0 50px 0;

    div {
      font-size: 14px;
      line-height: 20px;
      color: $creamyWhite;
      letter-spacing: 1.4px;
      padding: 0 13px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    height: unset;
    padding: 0 20px;

    &__all-rights-reserved {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      padding: 20px 0 40px;

      &__text {
        text-align: center;
      }
    }
  }

  .footer-items {
    flex-wrap: wrap;
    &__inner {
      flex-wrap: wrap;
    }
  }
}
