.navbar-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  background-color: $white;

  padding: 0 5px 19px;

  &__group {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    text-align: left;
    $fontFamily: normal normal bold Brandon Grotesque;
    letter-spacing: 1.5px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    padding: 0 20px;
  }
}
