.ready-section {
  display: flex;
  align-items: center;
  justify-content: center;

  &__left-group {
    display: flex;
    flex-direction: column;

    > div {
      width: 300px;
    }
  }

  &__biom-group {
    display: flex;
  }

  &__biom {
    display: flex;
    align-items: center;
    justify-content: center;

    &__text-section {
      display: none;

      &.hover {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
