@import "base/typography";
@import "base/variables";
@import "layout/layout";
@import "./components/navbar.scss";
@import "./components/hero-section.scss";
@import "./components/button.scss";
@import "./components/iconTextTitle.scss";
@import "./components/image-section.scss";
@import "./components/title.scss";
@import "./components/meet-biom-section.scss";
@import "./components/video-section.scss";
@import "./components/readyToStartSection.scss";
@import "./components/carousel-section.scss";
@import "./components/better-for-you-section.scss";
@import "./components/instagram-section.scss";
@import "./components/contact-form-section.scss";
@import "./components/social-media-icon.scss";
@import "./components/footer.scss";

body {
  margin: 0;
  font-size: $fontSize;
  font-family: $fontFamily;
  line-height: $lineHeight;
}
